{% load static %}
<html>
    <head>
    <title>DIDs list</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

        <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            font-size: 15px;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 18px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            padding-top: 17px;
            padding-bottom: 18px;
            text-align: center;
            background-color: #55bff2;
            color: #03415e;
        }
    </style>

    </head>
 <body style="background-color: #007bff1c;" >
<div id="content">
<div id="output">
    <div class="ajaxProgress">

        <center><h3 style="  margin-top: 80px;
                             margin-left: 100px;
                ">Please wait .... </h3></center>
        <img src="https://i.gifer.com/7TwJ.gif" style= "         margin-left: 300px;
                                                                 width: 800px;
                                                                 height: 450px;
                                                                 background-color: #007bff1c;
    												">
    </div>
</div>


<figure>
 <img src="http://www.keejob.com/media/recruiter/recruiter_11351/logo-11351-20161002-164843.png" alt="logo"
      style="                       width: 450px;
                                    margin-left: 450px;
	           ">
</figure>
 <center> <h4> DIDs List </h4></center>
 <table class="table DID_table col-md-6" id="customers">
   <thead>
    <th> Statut </th><th> did  </th><th> incoming_did  </th><th> delegated_to</th><th>i_did </th>
    <th>description</th><th>i_ivr_application </th><th> i_account </th><th> i_vendor  </th>
    <th> i_connection </th><th> i_did_delegation </th>
    </thead>
        <tbody>
        {% for d in dids %}
      <tr>

      {% if d.status == 0 %}
            <td> <img src="/static/img/ok.png" style="margin-left: 15px;max-width: 20px;max-height: 20px;"></td>
      {% endif %}
      {% if d.status == 1 %}
            <td> <img src="/static/img/blocked.png" style="margin-left: 15px;max-width: 20px;max-height: 20px;"></td>
      {% endif %}
      {% if d.status == -1 %}
            <td> No Account </td>
      {% endif %}
          {% if d.i_account != '' and d.i_account != null %}
        <td><a href=" {% url 'infoAccount' i_account=d.i_account %}">{{ d.did  }}  </a></td>
                {% else %}
       <td><a href="">{{ d.did }} </a> </td>
         {% endif %}
          <td>{{ d.incoming_did  }}</td>

            {% if d.delegated_to != '' and d.delegated_to != null %}
                <td><a href="{% url 'infoCustomer' name=d.delegated_to %}">{{ d.delegated_to }} </a> </td>
                {% else %}
                 <td><a href="">{{ d.delegated_to }} </a> </td>
            {% endif %}
        <td>{{ d.i_did  }}</td>
        <td>{{ d.description  }}</td>
            <td>{{ d.i_ivr_application  }}</td>
        <td>{{ d.i_account  }}</td>
        <td>{{ d.i_vendor  }}</td>
        <td>{{ d.i_connection  }}</td>
        <td>{{ d.i_did_delegation  }}</td>

        </tr>
        {% endfor %}
       </tbody>
 </table>

 <form action="{% url 'SDAList' %}" method="post" >
    {% csrf_token %}
         <input type="submit" name="SDA"  value="SDA" id="tri_sda" style="width: 85.99306px;height: 35.99306px;background-color:#55bff2;text-shadow:0 0 3px #FF0000;">
 </form>



  <script>
    $(document).ready(function()
    {
        $(".DID_table").DataTable();
    })
    </script>
</div>
<script type="text/javascript">// <![CDATA[
        function preloader(){
            document.getElementById("output").style.display = "none";
            document.getElementById("content").style.display = "block";
        }//preloader
        window.onload = preloader;
// ]]></script>
</body>
</html>